[
  {myapp, [
    
	{mysql_poolboy, [
		{name, mysql},
		{poolConf, [
			{size, 10},
			{max_overflow, 20}
		]},
      
		{sqlConf, [
			{host, "127.0.0.1"}, 
			{port, 21111}, 
			{user, "root"}, 
			{password, "11111111"}, 
			{database, "wxdb"},
						{keep_alive,true},
			{prepare, [{foo, "select SYSDATE()"}]}
		]}
		
    ]}


  ]}
].
